header{
background-color: rgb(233, 218, 205);
color: black;
font-family:Arial,sans-serif;
text-align:left;
padding: 50px;

}

main{
background-color: rgb(6, 62, 80);
color: rgb(205, 218, 186);
font-family:Arial,sans-serif;
text-align:center;
padding: 50px;
text-align:left;

}

footer:transparent-text{
background-color: rgb(196, 184, 184);
color: rgb(10, 10, 10);
font-family:Arial,sans-serif;
text-align:center;
padding: 50px;
text-align:left;

}

nav{ 
    background-color: darkslategrey(100,196,237);
    border-style: solid;
    border: 2px;
    padding: 10px;
    margin: 10px;
}
